@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */

//@import "@angular/material/prebuilt-themes/indigo-pink.css";

@include mat.core();
$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$dark-primary-text: rgba(black, 0.87);

$light-primary-text: white;

$mat-primary: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ffffff,
  400 : #f5faff,
  500 : #d6ecff,
  600 : #b7deff,
  700 : #99d0ff,
  800 : #7ac1ff,
  900 : #5cb3ff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #eff8ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-accent: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #fee0d3,
  300 : #fcb08d,
  400 : #fc9b6f,
  500 : #fb8651,
  600 : #fa7133,
  700 : #fa5c15,
  800 : #eb4d05,
  900 : #cd4305,
  A100 : #ffffff,
  A200 : #ffeee6,
  A400 : #ffa880,
  A700 : #ff9666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


// Override default typography
$my-typography: mat.define-typography-config(
  $font-family: 'Roboto, serif',
);


$primary: mat.define-palette($mat-primary);
$accent: mat.define-palette($mat-accent);
$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: $my-typography,
));

//@include mat.button-theme($theme);
@include mat.all-component-themes($theme);

@import "./mixins";
@include responsive-dialogs();

* {
  font-family: "Roboto", serif;
}

.highlight-date::before{
  content: '';
  background: red;
}


.highlight-month::before{
  content: '';
  background: greenyellow;
  border-radius: 50%;
}

.highlight-year::before{
  background: pink;

}



