

.courses-panel {
    max-width: 1500px;
    margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

//h2 {
//  font-family: "Roboto", serif;
//}

.title {
  text-align: center;
  margin: 0 15px 0 0;


}
